@tailwind base;
@tailwind components;
@tailwind utilities;


/* npx tailwindcss -i ./assets/css/input.css -o ./assets/css/output.css --watch */

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 400; */
  font-style: normal;
}

.banner{
  background-image: url('../images/banner_bg.png');
  background-repeat: no-repeat;
  background-position: right bottom;
}

.team_name_bg{
  background-image: url('../images/team_name_bg.png');
}
.client_stats_bg{
  background-image: url('../images/client_stats_bg.png');
  background-repeat: no-repeat;
  background-position: left bottom;
}
.middle_bg{
  background-image: url('../images/middle_bg.png');
  background-repeat: no-repeat;
  background-position:  bottom;
}

.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}

@media screen and (max-width: 1024px) {
  .banner{
    background-image: url('../images/mobile_banner_bg.svg');
    background-repeat: no-repeat;
    background-position: right, bottom;
    background-size: contain;
  }
}
@media screen and (max-width: 640px) {
  .banner{
    background-position: right top;
    background-size: auto;
  }
}